<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctors</title>
  <link rel="stylesheet" href="/doctorp/css/styles.css" />
  <link rel="stylesheet" href="/adminp/css/style.css">
  <link rel="stylesheet" href="/doctorp/css/stuffstyle.css">
</head>

<body>
  <%- include('admin-sidebar') %>
    <div class="container pt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="fw-semibold mb-4">Doctor Adding</h1>
          <div class="card">
            <div class="card-body">
              <form method="POST" action="/adoc" enctype="multipart/form-data">
                <div class="row mb-3">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor Name</label>
                    <input type="text" class="form-control" name="dname" id="dname">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor photo</label>
                    <input type="file" class="form-control" name="dimg">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor username</label>
                    <input type="text" class="form-control" name="dusername" id="username">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor password</label>
                    <input type="text" class="form-control" name="dpassword" id="password">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor Department </label>
                    <input type="text" class="form-control" name="ddepartment">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor Address</label>
                    <textarea class="form-control" id="productDescription" name="daddress" rows="2"
                      cols="50"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor Email</label>
                    <input type="text" class="form-control" name="demail">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="form-label">Doctor Bloodgroup</label>
                    <select class="form-select mb-3" name="dbloodgroup" aria-label="Default select example" id="Blood">
                      <option selected class="text-dark"></option>
                      <option value="A+" class="text-dark">A+</option>
                      <option value="A-" class="text-dark">A-</option>
                      <option value="B+" class="text-dark">B+</option>
                      <option value="B-" class="text-dark">B-</option>
                      <option value="o+" class="text-dark">o+</option>
                      <option value="o-" class="text-dark">o-</option>
                      <option value="AB+" class="text-dark">AB+</option>
                      <option value="AB-" class="text-dark">AB-</option>
                      <option value="OB+" class="text-dark">OB+</option>
                      <option value="OB-" class="text-dark">OB-</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="form-label">Doctor Phone</label>
                    <input type="text" class="form-control" name="dphone">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="form-label">Doctor timing</label>
                    <input type="text" class="form-control" name="dtiming">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="form-label">Sex</label>
                    <select class="form-select mb-3" name="dsex" aria-label="Default select example" id="Blood">
                      <option selected class="text-dark"></option>
                      <option value="male" class="text-dark">Male</option>
                      <option value="female" class="text-dark">Female</option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-success" value="Submit">Add</button>
                <a href="" class="btn btn-danger">Reset</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 0;">
        <% ado.forEach(doctors=> { %>
          <div class="col-lg-4 col-md-6 col item">
            <div class="card doctor-card h-100" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop<%= doctors._id %>">
              <img src="/adminp/image/doctors/<%= doctors.dimg %>" alt="Doctor Image" class="rounded"  width="100">
              <div class="card-body pb-0">
                <h3 class="fw-bolder text-center"><span class="fs-4">Dr.</span>
                  <%= doctors.dname %>
                </h3>
                <hr>
                <h6 class="card-title fw-bolder text-center fs-4">
                  <%= doctors.ddepartment %> department
                </h6>
                <!-- <p class="fs-1 text-center"> (<%= doctors._id %>)</p>  -->
                <hr>
                <button type="submit" class="btn btn-primary" value="Submit">Edit</button>
                <a href="" class="btn btn-danger">delete</a>
              </div>
            </div>
          </div>

          <!-- molel -->
          <div class="modal fade text-center" id="staticBackdrop<%= doctors._id %>" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <button type="button" class="bg-success btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-dialog pt-2">
              <div class="modal-content">
                <div class="card p-4" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop<%= doctors._id %>">
                  <img src="/adminp/image/doctors/<%= doctors.dimg %>" alt="Doctor Image" class="rounded"
                     width="100">
                  <div class="modal-body pb-0">
                    <h2 class="fw-bolder text-center"><span class="fs-4">Dr.</span>
                      <span class="text-end"><%= doctors.dname %></span>
                    </h2>
                    <hr>
                    <div class="row text-center">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Username:</span>
                              <span class=""><%= doctors.dusername %></span>
                          </div>
                          <hr>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">password:</span>
                            <span class="text-end"><%= doctors.dpassword %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Ddepartment:</span>
                            <span class="text-end"><%= doctors.ddepartment %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Address:</span>
                              <span class="text-end"><%= doctors.daddress %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Email:</span>
                            <span class="text-end"><%= doctors.demail %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Bloodgroup:</span>
                            <span class="text-end"><%= doctors.dbloodgroup %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Phone:</span>
                            <span class="text-end"><%= doctors.dphone %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Timing:</span>
                            <span class="text-end"><%= doctors.dtiming %></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
                            <span class="fs-5">Sex:</span>
                            <span class="text-end"><%= doctors.dsex %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row-cols-1 pb-3">
                      <button type="button" class="btn btn-lg btn-secondary"  data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
      </div>

    </div>
    <script src="/doctorp/libs/jquery/dist/jquery.min.js"></script>
    <script src="/doctorp/js/app.min.js"></script>
    <script src="/doctorp/libs/jquery/dist/jquery.min.js"></script>
    <script src="/doctorp/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/doctorp/js/sidebarmenu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>